@import 'tailwindcss';

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --animate-fade-in: fade-in 0.3s ease-in-out;
  --animate-float: float 3s ease-in-out infinite;
  --font-letter: var(--font-noto-serif-kr), serif;

  @keyframes fade-in {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  @keyframes float {
    0%,
    100% {
      transform: translateY(0px);
    }
    50% {
      transform: translateY(-20px);
    }
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-letter), Arial, Helvetica, sans-serif;
}
